{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
                Hi, I’m Maksym! I’m a passionate learner and aspiring Python developer, currently diving deep into the world of programming. Originally from Ukraine, I’m now based in Edmonton, Canada, where I’m embracing new opportunities and challenges.

At the moment, I’m working through a course called "100 Days of Programming" on Udemy, aiming to refine my Python skills and transition into a career in software development. I’m also focused on my health and fitness, with a goal to shed some pounds and lead a healthier lifestyle.
          I'm excited to share my learning journey with you here on my blog.

Through this blog, I’ll be documenting my progress, challenges, and lessons learned as I work toward becoming a Python developer. I hope to inspire others who are also passionate about technology and self-improvement!

Thanks for stopping by, and I look forward to sharing my journey with you!
        </p>
<!--        <p>-->
<!--          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius-->
<!--          praesentium recusandae illo eaque architecto error, repellendus iusto-->
<!--          reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in-->
<!--          officia voluptas voluptatibus, minus!-->
<!--        </p>-->
<!--        <p>-->
<!--          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut-->
<!--          consequuntur magnam, excepturi aliquid ex itaque esse est vero natus-->
<!--          quae optio aperiam soluta voluptatibus corporis atque iste neque sit-->
<!--          tempora!-->
<!--        </p>-->
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
